name: Main

on:
  push:
    branches: [main]

jobs:
  checks:
    name: Checks
    uses: ./.github/workflows/checks.yml
    secrets: inherit

  release:
    name: Release
    needs: checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]
        pnpm-version: [8]
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Publish to NPM
        uses: changesets/action@v1
        with:
          publish: pnpm changeset:release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
