name: Main

on:
  push:
    branches: [main]

jobs:
  checks:
    name: Checks
    uses: ./.github/workflows/checks.yml
    secrets: inherit

  release:
    name: Release
    needs: checks
    uses: ./.github/workflows/release.yml
    secrets: inherit