name: Release

on:
  workflow_call:
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: write  # Required for pushing git tags
  pull-requests: write  # Required for changesets to create PRs

jobs:
  release:
    name: Release
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [18]
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Publish to NPM
        uses: changesets/action@v1.4.0
        with:
          publish: pnpm changeset:release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true

